In [22]:
import pandas as pd
df=pd.read_csv('C:/Users/dell/Desktop/week3.txt',sep="," ,header=None)

In [14]:
df.head()

,0,1,2,3,4,5,6,7
0,NaN,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
1,0.0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
2,1.0,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
3,2.0,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
4,3.0,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49

In [23]:
df.columns=['NaN','S.No','USERNAME','Caption','Followers','Hashtags','Time since posted','Likes']
df1=df.iloc[1:]#removing the Sno column from data
del df1['S.No']
del df1['NaN']
del df1['USERNAME']
del df1['Caption']
del df1['Hashtags']
df1.head()

  Followers Time since posted Likes
1      1600          11 hours   139
2       880           2 hours    23
3       255           2 hours    25
4       340           3 hours    49
5       304           3 hours    30

In [24]:
df1['Time since posted']=df1['Time since posted'].str.replace('[hours]','')

C:\Users\dell\Documents\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
df1.head()

  Followers Time since posted Likes
1      1600               11    139
2       880                2     23
3       255                2     25
4       340                3     49
5       304                3     30

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 1 to 100
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Followers          100 non-null    object
 1   Time since posted  100 non-null    object
 2   Likes              100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [26]:
import sklearn

In [28]:
x=df1.iloc[:,0:2]
y=df1.iloc[:,-1]

In [37]:
x

    Followers Time since posted
1        1600               11
2         880                2
3         255                2
4         340                3
5         304                3
..        ...               ...
96        614                3
97        450                3
98        182                3
99       2039                3
100       741                3

[100 rows x 2 columns]

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [33]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
y_pred= regressor.predict(x_test)

In [39]:
regressor.predict([[300,10]])

array([108.75693473])

In [40]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

541.0121910944122